wp-config.php
*.tar.gz
*.zip

# ver -> https://gist.github.com/salcode/9940509
wp-content/*
!wp-content/index.php
!wp-content/plugins/
!wp-content/mu-plugins/
!wp-content/languages/
!wp-content/themes/index.php
!wp-content/themes/twentyfifteen/
!wp-content/themes/twentyfourteen/
!wp-content/themes/twentythirteen/
